@using EntityLayer.Concrete
@model List<Content>


@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Başlık Arama Sayfası</title>
<br />
@using (@Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
<p>
Aranacak Kelimeyi Girin: @Html.TextBox("p")
    <input type="submit" value="Ara" />
</p>
}

@foreach (var item in Model)
{
    <p>@item.contentValue</p>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
