@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Admin Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<h3>Mvc Kamp Tablo Örneği - Şiirler </h3>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
        </tr>
    }

</table>
<button class="btn btn-info">Kategori Listesi</button>
